#divMainCatalog {
    width: 100%;
    min-height: 55em;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#divMainCatalog_Options {
    min-width: 12%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

#divMainCatalog_Options_Selects {
    text-align: left;
    margin-top: 15px;
}

.searchField {
    margin: 0 0 20px 30px;
    width: 30em;

    .form-control:focus {
        box-shadow: none;
    }
}

.Selects {
    margin-left: 10px;
}

#divMainCatalog_Games {
    min-width: 40%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

.divContainer_Sort {
    margin-top: 10px;
}

.criteria-type {
    margin-top: 15px;
    div {
        margin-top: 5px;
    }
}

#divMainCatalog_Games_GameBlockInfo {
    width: 100%;
    position: relative;
}

.liStyles {
    list-style-type: none;
}

#divMainCatalog_Options_Radios {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    margin-top: 10px;
    text-align: left;

    ul {
        padding-left: 0px;
    }
}

.bootstrap_RowCatalog {
    margin: 20px 0 0 0;

    h4 {
        margin-left: 15px;
    }
}

.container {
    position: absolute;
    left: 0;
}

.emptyblocks {
    width: 10%;
}

/*---------------------------GameBlockInfo---------------------------*/
#divMainGameBlock {
    width: 10em;
    height: 24em;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

#divMainGameBlock_Image {
    height: 13em;
    width: 10em;
    background-color: red;
    position: relative;
}

#divMainGameBlock_Info {
    flex: 3.5;
    position: relative;
    text-align: left;
    background-color: #f7f8fa;
    word-wrap: normal;
}

.divMainGameBlock_Info_Ratings {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5px;
}

#divMainGameBlock_Price {
    flex: 1.5;
    background-color: black;
    position: relative;
}

.OfferPrice {
    color: yellow;
    position: absolute;
    left: 10%;
    top: 15%;
    font-size: 22px;
}

.NormalPriceCrossed {
    text-decoration-line: line-through;
    color: gray;
    position: absolute;
    right: 10%;
    top: 15%;
    font-size: 22px;
}

.NormalPrice {
    font-size: 22px;
    color: white;
    position: absolute;
    right: 10%;
    top: 15%;
}

.divMainGameBlock_OfferDiv {
    position: absolute;
    left: 8%;
    top: 40%;
    width: 8em;
    height: 30px;
    color: black;
    font-size: 18px;
    text-align: center;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
}