#mainBlockForUser {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
}

#mainBlockForAdmin {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: row;
}

#menuBar {
    width: 100%; 
}

#bodyy {
    width: 100%;
    padding-top: 7.5em;
}

#footer {
    width: 100%; 
}