#mainStartPage {
    width: 100%;
    min-height: 52em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.userGreeting {
    height: 3em;
    background-color: skyblue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topBody {
    width: 100%;
    min-height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('D:/TechArt/FinishedProject/React/myapp/src/games.png');
} 

.mainContainer {
    width: 100%;
    min-height: 60em;
    display: flex;
    flex-direction: column;
    align-items: center;

    .mainLogo {
        width: 15em;
        min-height: 8em;
        background-color: lime;
    }

    .mainSearch {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        position: relative;

        .mainSearchFieldGroup {
            width: 45em;
            display: flex;
            border-radius: 10px;

            div {
                height: 55px;
                background-color: white;
                
                &:first-child {
                    flex: 1;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    display: flex;
                    justify-content: center; 
                    align-items: center;

                    span {
                        font-size: 18px;
                        font-style: italic;
                    }
                }

                &:last-child {
                    flex: 0.5;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    display: flex;
                    justify-content: center; 
                    align-items: center;
                }
            }

            input[type="text"] {
                flex: 6;
                font-size: 20px;
                height: 55px;
                border: none;

                &:focus {
                    outline: none;
                }
            }
        }

        .foundGames {
            position: absolute;
            border-radius: 10px;
            top: 100%;
            width: 45em;
        }
    }

    .platformContainer {
        margin-top: 40px;
        width: 45em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .catalogLinks
        {
            flex: 1;
            margin-right: 5px;
            
            &:last-child {
                margin:0;
            }

            &:hover {
                text-decoration: none;
                }

        div {
            min-height: 170px;
            background-color: black;
            border: 3px solid darkorange;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            span {
                color: darkorange;
                font-size: 20px;
                margin-top: 10px;
            }

            .iconsStyle {
                color: darkorange;
            }

            &:hover {
                transition-duration: 1.5s;
                background-color: darkorange;
                border-color: black;

                span {
                    transition-duration: 1.5s;
                    color: black;
                }

                .iconsStyle {
                    transition-duration: 1.5s;
                    color :black;
                }
            }
        }
    }
    }
}

.mostPopularContainer {
    margin-top: 50px;
    min-width: 45em;
    display: flex;
    flex-direction: column;

    h3 {
        font-style: oblique;
        padding-bottom: 20px;

        &::before {
            content: '⚊';
            margin-right: 15px;
        }

        &::after {
            content: '⚊';
            margin-left: 15px;
        }
    }

    .gamesRatingContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.siteFeatures {
    min-width: 45em;
    height: 200px;
    background-color: blue;
    margin-top: 50px;
}