#divMainGameDescription {
    width: 100%;
    height: 118em;
    background-color: #121214;
}

.gameInfoDiv {
    width: 64%;
    height: 64em;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 4em;
}

.divMainInfo {
    flex: 3;
    display: flex;
    flex-direction: row;
    background-color: #121214;
}

.otherSimilarGames {
    flex: 0.8;
    background-color: purple;
}

.emptyDivs {
    width: 18%;
    height: 55em;
    float: left;
}

.divMainInfo_PosterAndButtons {
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

.divMainInfo_HeaderAndComments {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.divMainInfo_HeaderAndComments_Header {
    flex: 0.7;
    text-align: left;
    padding-left: 20px;
}

.divMainInfo_HeaderAndComments_Comments {
    flex: 3;
    background-color: sandybrown;
}

#span_Header_GameName {
    font-size: 36px;
    color: whitesmoke;
}

#divGameDescriptionImage {
    flex: 2;
}

#divGameDescriptionFuncs {
    flex: 1.5;
    display: flex;
    flex-direction: column;
}

.divGameDescriptionFuncs_divs {
    flex: 1;
}

.span_ShortInfo {
    font-size: 18px;
    color: whitesmoke;
}

.ul_GameDesc {
    list-style-type: none;
    padding: 0;
    margin-left: -8px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.li_GameDesc {
    display: inline;
    font-size: 20px;
    margin: 0 10px 0 10px;
    color: whitesmoke;
}

.divNumberAndOrder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#toOrdersButton {
    width: 150px;
    height: 40px;
    margin-top: 10px;
}

#inputNumberField {
    width: 50px;
    height: 30px;
    margin-left: 10px;
}

#imagee {
    width: 13em;
    height: 22em;
    background-color: red;
    margin-left: 1.5em;
    margin-top: 2.5em;
}


/*****************************************************/
#divMainGrid {
    width: 100%;
    height: 110em;
    display: grid;
    background-color: black;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 3.3fr 0.7fr;
    grid-template-areas: 
    "gameImage header header header"
    "gameImage comments comments comments"
    "buttons comments comments comments"
    "others others others others"
    "userReviews userReviews userReviews userReviews"
    "currentUserReviews currentUserReviews currentUserReviews commentOptions"
}

#gameImage { 
    grid-area: gameImage;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}
#header { 
    text-align: left;
    grid-area: header;
}
#comments { 
    grid-area: comments;
    display: flex;
    flex-direction: column;
}
#buttons { 
    grid-area: buttons;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#others { 
    grid-area: others;
}

#userReviews {
    grid-area: userReviews;
}

#currentUserReviews {
    grid-area: currentUserReviews;
}

#commentOptions {
    grid-area: commentOptions;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gamePoster {
    width: 75%;
    height: 70%;
    margin-top: 20px;
}

.div_HeaderAndInfo {
    margin-top: 5px;
}

.userStars {
    margin-top: 10px;
}

.buyButton {
    width: 150px;
    height: 40px;
}

.label_PriceInfo {
    justify-self: flex-start;
    color: white;
    align-self: flex-end;
    position: absolute;
    bottom: 10%;
    right: 13%;
}

.input_AmountOfGames {
    width: 150px;
    margin-bottom: 10px;
}

.label_CurrentUserRating {
    color: whitesmoke;
    padding-top: 15px;
}

.div_InputAndButton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.span_ShortInfo_OldPrice {
    text-decoration-line: line-through;
    color: whitesmoke;
    position: absolute;
    left: 12%;
    bottom: 10%;
}

.span_ShortInfo_NewPrice {
    color: gold;
    position: absolute;
    right: 12%;
    bottom: 10%;
}

.div_CommentsHeader {
    flex:1;
    text-align: left;
    color: whitesmoke;
}

.div_CommentsCarousel {
    flex: 1;
    padding-right: 40px;
}

.carousel {
    width: 100%;
    height: 390px;
}

.w-100 {
    width: 100%;
    height: 390px;
}

.textarea_UserComment {
    width: 100%;
    height: 100%;
    background-color: #121214;
    color: #17a2b8;
    resize: none;
    font-size: 18px;
    margin-left: 20px;
}

.label_CharCounter {
    color: whitesmoke;
    font-size: 18px;
    margin-top: 10px;
}

.Button_AddComment {
    margin-left: 20px;
    width: 150px;
    height: 40px;
}