#divMainMyOrders {
    width: 100%;
    height: 55em;
}

.divOrders {
    width: 54%;
    height: 55em;
    float: left;
}

input[type=checkbox] {
    transform: scale(1.2);
}

.emptyDivsOrders {
    float: left;
    width: 23%;
    height: 55em;
    display: flex;
}

.divWithOrdersOptions {
    width: 100%;
    height: 10em;
}

.pMoneyInfo {
    font-size: 16px;
    margin-top: 10px;
}

.tempdivs {
    text-align: left;
    padding-left: 3em;
}

.tr_MenuOrders {
    width: 100%; 
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div_OptionButtons {
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
}